section{
    text-align: center;
}
section img{
    align-items: center;
}

header h1{
    text-align: center;
    color: blue;
}
html{
    background-color: gray;
}
ìmg{
    border-color: red;
    border-width: 3px;
}